body {
  background: #e1e1e1;
  font-family: Arial, sans-serif;
  color: #000048;
}
h1 {
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  margin: 2rem 0;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: start;
}
#alpaca {
  position: relative;
  width: min(100%, 420px);
  aspect-ratio: 1 / 1;
  margin: 2rem;
}

h3 {
  margin-top: 0;
}

#controls {
  width: 100%;
  max-width: 350px;
  margin: 2rem;
}

#background,
#neck,
#hair,
#nose,
#eye,
#ear,
#mouth,
#leg,
#accessory {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#background {
  z-index: 0;
}

#neck {
  z-index: 1;
  object-fit: contain;
}

#ear,
#accessory {
  z-index: 2;
  object-fit: contain;
}

#nose,
#mouth {
  z-index: 3;
  object-fit: contain;
}

#eye,
#hair {
  z-index: 4;
  object-fit: contain;
}

.accessories,
.style {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 400px;
  margin-bottom: 2rem;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: primary;
  color: #00458e;
  border: 1px solid #00458e;
  border-radius: 4rem;
}

p {
  font-size: 16px;
  color: #00458e;
}

button.is-active,
button:hover {
  background-color: #00458e;
  color: white;
}

@media (max-width: 768px) {
  body {
    margin: 1rem;
  }
  button {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 2rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #alpaca {
    margin: 0;
    width: 100%;
    max-width: 360px;
  }

  #controls {
    margin-right: 0;
  }
}
