body {
  margin: 2rem 6rem;
  font-family: Arial, sans-serif;
  color: #000048;
}
h1 {
  font-size: 2.5rem;
  font-weight: 900;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
}
#alpaca {
  position: relative;
  height: 70vh;
  margin: 2rem;
}
#background,
#neck {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 70vh;
  margin: 0 auto;
}

#background {
  z-index: 0;
}

#neck {
  z-index: 1;
  object-fit: contain;
}
#controls {
  margin-right: 3rem;
  margin-bottom: 2rem;
}
.accessories,
.style {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 400px;
}

button,
p {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: primary;
  color: #00458e;
  border: 1px solid #00458e;
  border-radius: 4rem;
}

button.is-active,
button:hover {
  background-color: #00458e;
  color: white;
}

@media (max-width: 768px) {
  body {
    margin: 1rem;
  }
  button {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 2rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #alpaca {
    margin: 0;
  }
}
