body {
  margin: 0;
  font-family: Arial, sans-serif;
}
h1 {
  margin: 2rem 4rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  margin: auto 4rem;
}
#alpaca {
  margin: 2rem;
}
#background {
  width: 100%;
  height: 70vh;
}
#controls {
  margin-right: 3rem;
  margin-bottom: 2rem;
}
.accessories,
.style {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 400px;
}

button,
p {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: primary;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 4rem;
}

button.is-active {
  background-color: #007bff;
  color: white;
}

@media (max-width: 768px) {
  button {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 2rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #alpaca {
    margin: 0;
  }
}
